.postsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0%;
    
  }

  .OP{
    color: #9999FF;
    text-decoration: none; /* underline element remove underline lol*/
    font-size: larger;
  }

  .image{
    margin-top: 1%;
}

