h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: xxx-large;

	border-top: 8px solid #FBFBFB;
	border-left: 8px solid #FBFBFB;
	border-right: 8px solid #080808;
	border-bottom: 8px solid #000000;   
    background-color: #C4C4C4;
    margin-left: 1%;
    margin-right: 1%;
}

