.loadingData{
  text-align: center;
  padding-top: 5vh;
}


html{
  background-color: #29605E;
  overflow-y:scroll; /* make scrollbar always visible */
  cursor: url('../public/nat803.cur'), auto;	/* dino cursor */
}

.postsContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}

.threadContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.ntd{
    text-decoration: none;
  }

.oldStyleBorders{
    font-family: sans-serif;
    text-align: left;
    font-size: large;

	border-top: 3px solid #FBFBFB;
	border-left: 3px solid #FBFBFB;
	border-right: 3px solid #080808;
	border-bottom: 3px solid #000000;   
    background-color: #CCCCCC;
    width: min-content;
    white-space: nowrap;

    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
}

.oldStyleBorders:active{
    background-color: #BFBFBF;
}



/*  Below is taken from https://www.cameronsworld.net/ to create the scrollbar*/
.modal-open .modal-scroll,
.old-school-scroll::-webkit-scrollbar,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar,
.section.id-23 .frame .scroll-container::-webkit-scrollbar,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 21px;
    height: 21px
}

.modal-open .track,
.old-school-scroll::-webkit-scrollbar-track,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-track,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-track,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-image: url("../public/bg-scrollbar-track.png");
    background-size: 2px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .modal-open .track,
    .old-school-scroll::-webkit-scrollbar-track,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-track,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-track,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-track,
    body::-webkit-scrollbar-track {
        background-image: url("../public/bg-scrollbar-track@2x.png")
    }
}

.old-school-scroll::-webkit-scrollbar-thumb,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-thumb,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-thumb,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: silver;
    border-left: ridge 2px #fff;
    border-top: ridge 2px #fff;
    border-right: ridge 2px grey;
    border-bottom: ridge 2px grey
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
.old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
.old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
.old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
body::-webkit-scrollbar-button:horizontal:end:increment,
body::-webkit-scrollbar-button:horizontal:start:decrement,
body::-webkit-scrollbar-button:vertical:end:increment,
body::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: silver;
    border-left: ridge 2px #fff;
    border-top: ridge 2px #fff;
    border-right: ridge 2px grey;
    border-bottom: ridge 2px grey;
    width: 21px;
    height: 21px;
    display: block
}

.old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
body::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: 0 0;
    width: 17px;
    height: 18px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    body::-webkit-scrollbar-button:vertical:end:increment {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
body::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -17px 0;
    width: 17px;
    height: 18px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    body::-webkit-scrollbar-button:vertical:start:decrement {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
body::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -52px 0;
    width: 18px;
    height: 17px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    body::-webkit-scrollbar-button:horizontal:end:increment {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
body::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -34px 0;
    width: 18px;
    height: 17px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    body::-webkit-scrollbar-button:horizontal:start:decrement {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}