.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loadingData{
  text-align: center;
  padding-top: 10%;
}


html{
  background-color: #C4C4C4;
  overflow-y:scroll; /* make scrollbar always visible */
}

.postsContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}



/*  Below is taken from https://www.cameronsworld.net/ to create the scrollbar*/
.modal-open .modal-scroll,
.old-school-scroll::-webkit-scrollbar,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar,
.section.id-23 .frame .scroll-container::-webkit-scrollbar,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 21px;
    height: 21px
}

.modal-open .track,
.old-school-scroll::-webkit-scrollbar-track,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-track,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-track,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-image: url("../public/bg-scrollbar-track.png");
    background-size: 2px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .modal-open .track,
    .old-school-scroll::-webkit-scrollbar-track,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-track,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-track,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-track,
    body::-webkit-scrollbar-track {
        background-image: url("../public/bg-scrollbar-track@2x.png")
    }
}

.old-school-scroll::-webkit-scrollbar-thumb,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-thumb,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-thumb,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: silver;
    border-left: ridge 2px #fff;
    border-top: ridge 2px #fff;
    border-right: ridge 2px grey;
    border-bottom: ridge 2px grey
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
.old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
.old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
.old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
body::-webkit-scrollbar-button:horizontal:end:increment,
body::-webkit-scrollbar-button:horizontal:start:decrement,
body::-webkit-scrollbar-button:vertical:end:increment,
body::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: silver;
    border-left: ridge 2px #fff;
    border-top: ridge 2px #fff;
    border-right: ridge 2px grey;
    border-bottom: ridge 2px grey;
    width: 21px;
    height: 21px;
    display: block
}

.old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
body::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: 0 0;
    width: 17px;
    height: 18px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:end:increment,
    body::-webkit-scrollbar-button:vertical:end:increment {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
body::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -17px 0;
    width: 17px;
    height: 18px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:vertical:start:decrement,
    body::-webkit-scrollbar-button:vertical:start:decrement {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
body::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -52px 0;
    width: 18px;
    height: 17px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:end:increment,
    body::-webkit-scrollbar-button:horizontal:end:increment {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}

.old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
.section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
body::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url("../public/sprite-old-school-scroll.png");
    background-position: -34px 0;
    width: 18px;
    height: 17px;
    height: 22px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .old-school-scroll::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .horizontal-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    .section.id-23 .frame .vertical-scroll-container::-webkit-scrollbar-button:horizontal:start:decrement,
    body::-webkit-scrollbar-button:horizontal:start:decrement {
        background-image: url("../public/sprite-old-school-scroll-2x.png");
        background-size: 70px 18px
    }
}